/* components/HomePage/HomePage.css */

.homepage-container {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #3f3f46;
  position: relative;
  z-index: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3f3f46;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 200px;
  margin-right: 15px;
  filter: brightness(1.7);
}

.wallet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet-address, 
.wallet-balance {
  display: flex;
  align-items: center;
}

.wallet-display {
  margin-right: 20px;
  color: #4fae8b;
}

.wallet-extra-info {
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  color: #fafafa;
  opacity: 0.5;
}

.wallet-icon, 
.balance-icon {
  margin-right: 5px;
}

.dashboard-button {
  font-family: "Roboto", sans-serif;
  padding: 12px 15px;
  margin-right: 5px;
  background: linear-gradient(45deg, #38574c, #4fae8b);
  color: #fafafa;
  font-size: 0.8rem;
  font-weight: bold;
  border: 0.1px solid #fafafa;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(63, 63, 70, 0.7);
  position: relative;
  z-index: 100;
}

.dashboard-button:hover {
  background: linear-gradient(45deg, #4fae8b, #38574c);
  box-shadow: 0 6px 20px rgba(63, 63, 70, 1);
}

.connect-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.file-upload-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background: linear-gradient(45deg, #38574c, #4fae8b, #38574c);
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(93, 93, 93, 0.5);
  text-align: center;
}

.file-upload-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
  background: linear-gradient(to right, #d4d4d8, #fafafa, #d4d4d8); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.file-upload-input {
  margin-bottom: 30px;
}

.file-input,
.input-field,
.textarea {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 400px;
}

.textarea {
  height: 100px;
}

.upload-button,
.fiat-button {
  padding: 12px 30px;
  background: linear-gradient(45deg, #38574c, #4fae8b);
  color: #fff;
  border: 0.1px solid #fafafa;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.fiat-button {
  background: linear-gradient(45deg, #4fae8b, #38574c);
}

.upload-button:hover {
  box-shadow: 0 6px 20px rgba(63, 63, 70, 1);
}

.fiat-button:hover {
  box-shadow: 0 6px 20px rgba(63, 63, 70, 1);
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-message {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(0, 255, 0, 0.1);
  color: green;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
  position: relative;
  overflow: hidden; 
}

.hero-container::before,
.hero-container::after {
  content: '';
  position: absolute;
  border-radius: 50%; 
  z-index: -1; 
}

/* Lingkaran pertama */
.hero-container::before {
  width: 500px; /* Ukuran lingkaran */
  height: 500px; /* Ukuran lingkaran */
  background: rgba(56, 87, 76, 1); /* Warna latar belakang dengan transparansi */
}

/* Lingkaran kedua */
.hero-container::after {
  width: 700px; /* Ukuran lingkaran */
  height: 700px; /* Ukuran lingkaran */
  background: rgba(56, 87, 76, 0.5); /* Warna latar belakang dengan transparansi */
}

/* Lingkaran ketiga */
.hero-container .circle {
  position: absolute;
  border-radius: 50%; /* Membuat lingkaran */
  background: rgba(56, 87, 76, 0.3); /* Warna latar belakang dengan transparansi */
  width: 900px; /* Ukuran lingkaran */
  height: 900px; /* Ukuran lingkaran */
}

.drag-drop-section {
  width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
  height: 300px; /* Sesuaikan tinggi sesuai kebutuhan */
  margin: 40px auto; /* Pusatkan secara horizontal */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #38574c; /* Warna border */
  background: linear-gradient(45deg, #38574c, #4fae8b, #38574c);
  border-radius: 50%; /* Membuat elemen menjadi bulat */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  position: relative; /* Untuk efek hover */
}

.drag-drop-section input {
  display: none; /* Sembunyikan input file */
}

.drag-drop-section p {
  color: #fafafa; /* Warna teks */
  font-size: 1.2rem; /* Ukuran font */
  margin: 0; /* Menghilangkan margin */
}

.drag-drop-section .drop-instructions {
  font-size: 0.9rem; /* Ukuran font instruksi */
  color: #fafafa; /* Warna instruksi */
  opacity: 0.5;
}

.drag-active {
  background-color: #4fae8b; /* Warna latar belakang saat drag aktif */
  border-color: #38574c; /* Warna border saat drag aktif */
}

.drag-image {
  width: 30%;
}

.drag-drop-section:hover {
  background-color: #38574c; /* Warna latar belakang saat hover */
  border-color: #4fae8b; /* Warna border saat hover */
}

.drag-drop-section:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Membuat overlay juga bulat */
  background: rgba(255, 255, 255, 0.3);
  opacity: 0; /* Awalnya tidak terlihat */
  transition: opacity 0.3s ease; /* Transisi opacity */
}

.drag-drop-section:hover:after {
  opacity: 1; /* Overlay terlihat saat hover */
}

.drag-active:after {
  opacity: 0; /* Overlay tidak terlihat saat file di-drag */
}

.topup-modal {
  position: fixed; /* Membuat modal tetap di layar */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Latar belakang semi-transparan */
  display: flex; /* Menggunakan flexbox untuk memusatkan konten */
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center; /* Memusatkan secara vertikal */
  z-index: 1000; /* Menempatkan modal di atas konten lainnya */
}

.modal-content {
  background: white; /* Latar belakang konten modal */
  border-radius: 10px; /* Sudut membulat */
  padding: 20px; /* Ruang dalam */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Bayangan */
  text-align: center; /* Memusatkan teks */
  max-width: 500px; /* Lebar maksimal modal */
  width: 80%; /* Lebar responsif */
}

.modal-content h3 {
  margin: 0 0 15px; /* Mengatur margin untuk judul */
  font-size: 24px; /* Ukuran font untuk judul */
  background: linear-gradient(to right, #38574c, #4fae8b, #38574c); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.modal-content p {
  margin: 10px 0;
  color: #3f3f46;
}

.wallet-address-full {
  margin-top: 20px;
  word-break: break-all;
  background: linear-gradient(to right, #38574c, #4fae8b, #38574c); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
}