/* Full-screen container for the login page */
.login-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Left-side: contains the logo and login form */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #3f3f46;
  align-items: center;
}

.logo-login {
  position: absolute;
  top: 40px; /* Set distance from the top */
  left: 30px; /* Set distance from the left */
  width: 15%;
  filter: brightness(1.7);
}

.login-form {
  max-width: 400px;
  text-align: center;
}

.login-form h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  background: linear-gradient(to right, #d4d4d8, #fafafa, #d4d4d8); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.login-form p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Right-side: contains the explanatory text */
.login-right {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  background: linear-gradient(45deg, #38574c, #4fae8b, #38574c);
  color: #fafafa;
  overflow: hidden;
}

.login-right h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #d4d4d8, #fafafa, #d4d4d8); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.login-right p {
  font-size: 1rem;
  line-height: 1.6;
}

.image-right {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.2; /* Optional: This makes the image more subtle */
  z-index: 2; /* Puts the image behind the text but in front of the background */
  animation: rotate 60s infinite linear;
  top: 250px; /* Set distance from the top */
  left: 200px; /* Set distance from the left */
}

/* Buttons */
.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(45deg, #38574c, #4fae8b, #38574c);
  box-shadow: 0 4px 15px rgba(82, 82, 82, 0.7);
  border: 0.5px solid #fafafa;
  color: #fafafa;
  font-weight: bold;
  border-radius: 25px;
}

.logout {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}